*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --primary-soft_orange: hsl(35, 77%, 62%);
    --primary-soft_red: hsl(5, 85%, 63%);
    --neutral-off_white: hsl(36, 100%, 99%);
    --neutral-grayish_blue: hsl(233, 8%, 79%);
    --neutral-dark_grayish_blue: hsl(236, 13%, 42%);
    --neutral-very_dark_blue: hsl(240, 100%, 5%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.navbar {
    background-color: #fff;
}

.nav-mobile_menu {
    position: relative;
    z-index: 9999;
}

.icon>* {
    margin-left: auto;
}

nav {
    margin-top: 0;
    display: none;
}

.active {
    display: block;
    position: fixed;
    z-index: 101;
    background-color: #fff;
    right: 0;
    top: 0;
    height: 100%;
    width: 70%;
    padding-top: 8rem;
    padding-left: 2rem;
}

nav ul li {
    list-style: none;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--neutral-very_dark_blue);
    font-size: 1.3rem;
}

.menu-open {
    position: relative;
    /* height: 100%; */
    overflow: hidden;
}

.menu-open::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(240, 100%, 5%, 0.5);

}

.none {
    display: none;
}

main {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.8rem;
    line-height: 1.1;
    font-weight: 800;
    margin-block: 2rem;
}

.headline_image {
    display: flex;
    justify-content: center;
}

.headline_teaser p {
    font-size: 1rem;
}

.headline_teaser .more {
    display: inline-block;
    background-color: var(--primary-soft_red);
    margin-block: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: var(--neutral-off_white);
    letter-spacing: 5px;
}

.headline_teaser .more:hover {
    background-color: #000;
    color: #fff;

}


.extra_news {
    background-color: var(--neutral-very_dark_blue);
    padding: 1.5rem;
    margin-top: 3rem;
}

.extra_news h2 {
    color: var(--primary-soft_orange);
    font-size: 3rem;

}

.extra_news h3 {
    margin-bottom: 1rem;
}

.extra_news h3 a {
    color: var(--neutral-off_white);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.extra_news h3 a:hover {
    color: var(--primary-soft_orange);
}

.extra_news p {
    color: var(--neutral-grayish_blue);
    font-size: 1rem;
}

.news_bits {
    padding-block: 2rem;
}

.news_bits:last-child {
    padding-bottom: 1rem;
}

.news_bits:nth-child(odd) {
    border-top: 1px solid var(--neutral-dark_grayish_blue);
    border-bottom: 1px solid var(--neutral-dark_grayish_blue);
}

.further_headlines {
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 2rem;
}

.further_bits {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2rem;
}

.content {
    padding-left: 1rem;
}

.content .counter {
    font-size: 2.5rem;
    color: var(--neutral-grayish_blue);
    font-weight: 700;
    line-height: 1;
}

.content h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: 800;
}

.content h3 a {
    color: #000;
    text-decoration: none;
}

.content h3 a:hover {
    color: var(--primary-soft_red);
}

.content p {
    font-size: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MEDIA QUERY */

@media only screen and (min-width: 60rem) {

    body {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }

    .extra_news {
        margin: 0;
    }

    .navbar {
        display: flex;
        background-color: #fff;
        position: unset;
        opacity: 1;
        width: unset;
    }

    nav {
        margin: unset;
        display: block;
    }

    nav ul {
        display: flex;
    }

    nav a {
        font-size: 1rem;
        font-weight: 700;
        color: var(--neutral-dark_grayish_blue);
    }

    nav a:hover {
        color: var(--primary-soft_red);
    }

    .icon {
        display: none;
    }

    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .headline_teaser {
        padding-top: 2rem;
    }

    .headline_title {
        padding-right: 2rem;
    }

    h1 {
        font-size: 3.5rem;

    }

    .further_headlines {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content h3 {
        padding-top: 1rem;
        ;
    }
}